html{
	overflow-x: hidden;
	scroll-behavior: smooth;
}


.ftco-navbar-light{
	background: transparent !important;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 3;
	padding: 0;
}

.ftco-navbar-light .navbar-brand{
	color: white;
}
.ftco-navbar-light .navbar-brand:hover,
.ftco-navbar-light .navbar-brand:focus{
	color: white;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link{
	font-size: 16px;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
	padding-right: 20px;
	padding-left: 20px;
	font-weight: 400;
	color: #ffffff;
	opacity: 1 !important;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover{
color:#ffffff;
}
.ftco-navbar-light .navbar-nav > .nav-item.cta  > a{
	background: #c8a97e;
	color: #ffffff;
	border-radius: 5px;
}
.ftco-navbar-light .navbar-nav > .nav-item.active  > a{
	color:#c8a97e;
	
}

/* this below written code will work when our page content goes more than screen size or when it is scrolled */
.ftco-navbar-light.scrolled{
	background: rgba(200, 169, 126, 0.8) !important;

	position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
	z-index: 1030 !important;
	transition: all 0.6s ease-in-out 0s !important;
	box-sizing: border-box;
}
.ftco-navbar-light.scrolled .nav-item.active  > a{
	color: #c8a97e;
}

.ftco-navbar-light.scrolled .nav-item.cta  > a{
	color: #ffffff !important;
	background: #c8a97e ;
	border-radius: 0;
	border: none !important;
}

.ftco-navbar-light.scrolled .nav-item.cta  > a span{
	display: inline-block;
	color: #ffffff !important;
}

.ftco-navbar-light.scrolled .nav-item.cta.cta-colored span{
	
	border-color: #c8a97e ;
}

.ftco-navbar-light.scrolled .nav-link {
	padding-top: 0.7rem !important;
	padding-bottom: 0.7rem !important;
	color:#000 !important;
	font-size: 18px !important;
	font-weight: 400 !important;
}

.ftco-navbar-light.scrolled .nav-link.active{
	color:#c8a97e;
} 

.ftco-navbar-light.scrolled.awake{
	margin-top: 0px;
	transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled.sleep{
	transition: 0.3s all ease-out;
}

.ftco-navbar-light.scrolled .navbar-brand{
	color:#333;
}

.navbar-brand{
	font-weight: 900;
	font-size: 40px;
	font-family: "Great Vibes", cursive;
}

/********Carousel*************/
.owl-carousel{
	position: relative;
}
.owl-carousel .owl-item{
	opacity: 0.4;
}
.owl-carousel .owl-item.active {
	opacity: 1;
}

.owl-carousel .owl-nav{
	position: absolute ;
	top: 50%;
	width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
	position: absolute;
	transform: translateY(-50%);
	margin-top: -10px;
	color: #c8a97e !important;
	transition: all 0.7s ease;
	opacity: 0;
	
}

.owl-carousel .owl-nav .owl-prev span::before,
.owl-carousel .owl-nav .owl-next span::before{
	font-size: 50px;
}

.owl-carousel .owl-nav .owl-prev{
	left: 0;
}
.owl-carousel .owl-nav .owl-next{
	right: 0;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next{
	opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev{
	left: 25px;
}

.owl-carousel:hover .owl-nav .owl-next{
	right: 25px;
}

.owl-carousel.home-slider{
	position: relative;
	height: 750px;
	z-index: 0;
}

@media (max-width: 767px){
	.fa-chevron-down{
		font-size: 35px;
		z-index: 10000;
		color: white;
		position: absolute;
		top: 0;
		opacity: 0.5;
		display: block;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (min-width: 767px){
	.fa-chevron-down{
		font-size: 35px;
		z-index: 10000;
		color: white;
		position: absolute;
		top: 0;
		opacity: 0.5;
		display: none;
		left: 50%;
		transform: translateX(-50%);
	}
}
.owl-carousel.home-slider .slider-item{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 750px;
	position: relative;
	z-index: 0;
}

.owl-carousel.home-slider .slider-item .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: 0.7;
}
.owl-carousel.home-slider .slider-item .slider-text{
	color: #ffffff;
	height: 750px;
	text-align: right;
}
.owl-carousel.home-slider .slider-item .slider-text .subheading{
	font-size: 80px;
	color: #c8a97e;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1;
	font-family: "Great Vibes", cursive;
}

.owl-carousel.home-slider .slider-item .slider-text h1{
	font-size: 60px;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 0;
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-family: "Poppins", cursive;
}
.owl-carousel.home-slider .owl-nav .owl-prev span,
.owl-carousel.home-slider .owl-nav .owl-next span{
	color: #ffffff;
}
.owl-carousel.home-slider:hover .owl-nav .owl-prev span,
.owl-carousel.home-slider:hover .owl-nav .owl-next span{
	opacity: 1;
}
.owl-carousel.home-slider:hover .owl-nav .owl-prev{
	left: 20px;
}
.owl-carousel.home-slider:hover .owl-nav .owl-next{
	right: 20px;
}

.owl-custom-nav{
	float: right;
	position: relative;
	z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-nav{
	padding: 10px;
	font-size: 30px;
	background:#ccc;
	line-height: 0;
	width: 60px;
	text-align: center;
	display: inline-block;
}
/***************featured******************/
.featured{
	padding-top: 30px;
	width: 100%;
	margin-top: -230px;
	border-top: solid 1px rgba(255, 255, 255, 0.2);
}

.featured .featured-menus{
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
	transition: all 0.3s ease;
}
.featured .featured-menus .text{
	width: 100%;
}
.featured .featured-menus .text h3{
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 0;
	color: #ffffff;
}
.featured .featured-menus .text p{
	font-size: 14px;
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.7);
}

.featured .featured-menus .menu-img{
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.img, .user-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}

.ftco-wrap-about{
	background-position: bottom center !important;

}
.ftco-wrap-about .heading-section h2{
	font-weight: 600 !important;
}
.ftco-wrap-about .img{
	width: 100%;
}
.intro{
	width: 100%;
	background: #fff;
	padding-top: 102px;
	padding-bottom: 0px;
}
.intro_image{
	width: 100%;
}
.intro_image img{
	max-width: 100%;
}
.intro_content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -90px;
	width: 679px;
	background: #fff;
	border: solid 2px #b49388;
	box-shadow: 0px 45px 70px rgba(0, 0, 0, 0.3);
	z-index: 1;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-left: 70px;
	padding-right: 50px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.intro_subtitle{
	font-size: 28px;
	font-family: "Poppins";
}
.intro_text{
	font-family: "Poppins";
	font-size: 14px;
	margin-top: 32px;
}
.intro_title h2{
	font-size: 40px;
	margin-top: 6px;
	font-family: "Great Vibes", cursive;
	color: #9b4b15;
	font-weight: 600;
}
.ftco-animate{
	opacity: 0;
	visibility: hidden;
}
#section-counter{
	margin-top: 50px;
	position: relative;
	z-index: -1;
}
#section-counter::after{
	position: absolute;
	
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	content: "";
	z-index: -1;
	opacity: 0;
	background: #000;
}
.ftco-counter{
	padding-bottom: 5em;
	background-position: center center !important;
}
.ftco-counter .block-18{
	display: block;
	width: 100%;
}
.ftco-counter .text strong.number{
	font-weight: 600;
	font-size: 44px;
	color: #c8a97e;
	display: block;
	line-height: 1;
}
.ftco-counter .text span{
	display: block;
	font-size: 14px;
	text-transform: uppercase;
}
.ftco-counter p{
	line-height: 1.8;
	font-size: 18px;
}

/***************gallery section*************/
.gallery__pic img{
	max-width: 100%;
}
.bg-light{
	background: #fafafa !important;
}
.ftco-section{
	padding: 7em 0;
	position: relative;
}
.heading-section{
	position: relative;
}

.heading-section .subheading{
	position: absolute;
	top: -50px;
	left: 0;
	right: 0;
	font-weight: normal;
	font-size: 100px;
	display: block;
	margin-bottom: 0;
	color: rgba(0, 0, 0, 0.2);
	color: #c8a97e;
	line-height: 1;
	margin-top: 0;
	z-index: -1;
	font-family: "Great Vibes", cursive;
}

.heading-section h2{
	font-size: 50px;
	font-weight: 900;
	line-height: 1.2;
}

.menu-wrap{
	margin-bottom: 0;
}
.heading-menu h3{
	font-size: 30px;
	font-weight: 900;
	margin-bottom: 1em;
}
.menu{
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border:solid 1px #e6e6e6;
	padding: 30px 20px;
	border-radius:5px ;
	transition: all 0.3s ease;
	position: relative;
}

.menu .text{
	width: calc(100% - 100px);
	padding-left: 20px;
}
.menu .text .one-half{
	width: calc(100% - 80px);
}
.menu .text .one-half h3{
	font-size: 24px;
	font-weight: 500;
}
.menu .text .one-forth{
	width: 80px;
	text-align: right;
}
.menu .text .one-forth-sm{
	width: 40px;
	position: absolute;
	bottom: 35px;
	left: 20px;
	text-align: left;
	display: none;
}
.menu .text .one-forth .price{
	font-size: 20px;
	color: rgba(0, 0, 0, 0.2);
	color: #000;
	font-weight: 600;
	line-height: 1.3;
	transition: all 0.3s ease;
	border-bottom: 2px solid #ff2377;
}
.menu .text .one-forth-sm .price{
	position: absolute;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.2);
	color: #000;
	font-weight: 600;
	line-height: 1.3;
	transition: all 0.3s ease;
	border-bottom: 2px solid #ff2377;
}
.menu:hover .text .one-forth-sm .price{
	color: #fff;
	border-bottom: 2px solid #fff;
}
.menu .text p{
	margin-bottom: 0;
	color: rgba(0, 0, 0, 0.8);
}
.menu .menu-img{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.menu:hover{
	border: 1px solid #ff2377;
	background: linear-gradient(235deg, rgba(231,111,169,0.741) 30%,
	rgba(165,77,124,0.763) 67%);
}
.menu:hover .text .one-forth .price{
	color: #fff;
	border-bottom: 2px solid #fff;
}
.menu:hover .text p{
	color: rgba(0, 0, 0, 0.8);
}

/************ Testimonials section*****************/
.testimony-section{
	position: relative;
	z-index: 0;
	background-position: center center !important;
	background-attachment: fixed;
}

.testimony-section .img-bg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
}
.testimony-section .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: 0.7;
}

.testimony-section .owl-carousel{
	margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer{
	padding: 1.5em 0 2em 0;
	position: relative;
}
.testimony-section .owl-nav{
	position: absolute;
	top: 100%;
	width: 100%;
}
.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next{
	position: absolute;
	transform: translateY(-50%);
	margin-top: -10px;
	outline: none !important;
	transition: all 0.3s ease;
	opacity: 0;
}
.testimony-section .owl-nav .owl-prev span::before,
.testimony-section .owl-nav .owl-next span::before{
	font-size: 30px;
	color: rgba(0, 0, 0, 0.5);
	transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev:hover span::before,
.testimony-section .owl-nav .owl-next:focus span::before,
.testimony-section .owl-nav .owl-prev:focus span::before,
.testimony-section .owl-nav .owl-next:hover span::before{
	color: #fff;
}
.testimony-section .owl-nav .owl-prev{
	left: 50%;
	margin-left: -80px;
}
.testimony-section .owl-nav .owl-next{
	right: 50%;
	margin-right: -80px;
}
.testimony-section .owl-dots{
	text-align: center;
}
.testimony-section .owl-dots .owl-dot{
	width: 10px;
	height: 10px;
	margin: 5px;
	border-radius: 50%;
	background: rgba(255,255,255, 0.253);
}
.testimony-section .owl-dots .owl-dot.active{
	background: #ff2377;
}
.testimony-section .owl-dots .owl-dot:focus{
	outline: none !important;
}
.testimony-wrap{
	display: block;
	position: relative;
	border:1px solid rgba(255, 255, 255, 0.2);
	padding: 0 20px;
	border-radius: 4px;
	color: rgba(255, 255, 255, 0.7);
	box-shadow: 0 30px 33px -41px rgba(0, 0, 0, 0.24);
}
.testimony-wrap .text p{
	font-style: italic;
}
.testimony-wrap .icon{
	position: absolute;
	top: -20px;
	left: 20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #ff2377;
}
.testimony-wrap .icon span{
	color:#fff;
}
.testimony-wrap .user-img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
}
.testimony-wrap .name{
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 0;
	color: #fff;
	font-style: normal !important;
}
.testimony-wrap .position{
	font-size: 16px;
	color: rgba(255, 255, 255, 0.7);
}
.heading-section.heading-section-white .subheading{
	color: #c8a97e;
}
.heading-section.heading-section-white h2{
	color: #fff ;
}
.heading-section.heading-section-white p{
	color: rgba(255, 255, 255, 0.9);
}


/*************** staff section****************/

.staff {
	transition: all 0.3s ease;
}
.staff .img{
	height: 320px;
	border-radius: 5px;
	background-position: top center;
}
.staff .text{
	background: #fff;
	transition: all 0.3s ease;
}
.staff .text h3{
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 600;
}
.staff .text .position{
	font-size: 14px;
	color: rgba(0, 0, 0, 0.6);
	display: block;
}
.staff .text .faded{
	opacity: 1;
	transition: all 0.3s ease;
}
.ftco-social{
	padding:0;
}
.ftco-social li{
	list-style: none;
	margin-right: 10px;
}
.ftco-social span{
	color: #7e2147d8;
	font-size: 20px;
}

.makereservation{
	width: 100%;
	background: #fff;
}
.makereservation .form-group label{
	font-weight: 600;
	color: #000;
}
.makereservation .form-group .icon{
	position: absolute;
	top: 50% !important;
	right: 5px;
	font-size: 14px;
	transform: translateY(-50%);
	color: rgba(0, 0, 0, 0.7);
}
.makereservation .form-group .select-wrap{
	position: relative;
}
.makereservation .form-group .select-wrap select{
	appearance: none;
}

.btn{
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 24px 48px -12px rgba(0, 0, 0, 0.1);
}
.btn:hover,
.btn:active,
.btn:focus{
	outline: none;
}
.btn.btn-primary{
	background: #c8a97e;
	border:1px solid #c8a97e;
	color: #fff;
}
.btn.btn-primary:hover{
	background:transparent;
	border: 1px solid #c8a97e;
	color: #000;
}
.btn.btn-primary.btn-outline-primary{
	border:1px solid #c8a97e;
	background: #c8a97e;
	color: #fff;
}
.btn.btn-primary.btn-outline-primary:hover{
	border:1px solid transparent;
	background: #c8a97e;
	color: #fff;
}
.ftco-section.img.broken-img{
	/* background-repeat: unset; */
	background-attachment: fixed;
}
.single-cat-widget{
	position: relative;
	text-align: center;
}
.single-cat-widget .overlay-bg{
	background: rgba(0, 0, 0, 0.85);
	margin: 7%;
	transition: all 0.4s ease 0s;
}
.single-cat-widget img{
	width: 100%;
}
.single-cat-widget .content-details{
	top: 25%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	bottom: 0;
	position: absolute;
}
.single-cat-widget .content-details span{
	display: inline-block;
	background: #fff;
	width: 60%;
	height: 1%;
}
.single-cat-widget .overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

}
.single-cat-widget:hover .overlay-bg{
	background: rgba(186, 146, 54, 0.85);
	margin: 7%;
	transition: all 0.4s ease 0s;
}

/****************** Footer *****************/
.ftco-bg-dark {
	background: #3c312e;
  }
  
.ftco-footer {
	font-size: 14px;
	background: #141313;
	padding: 50px 0 10px 0px;
  }

  .ftco-footer .ftco-footer-logo {
	text-transform: uppercase;
	letter-spacing: 0.1em;
  }
  .ftco-footer .ftco-footer-widget h2 {
	font-weight: normal;
	color: #ffffff;
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: 700;
  }
  
  .ftco-footer .ftco-footer-widget ul li a span {
	color: #ffffff;
  }
  .ftco-footer .ftco-footer-widget .open-hours li span {
	width: 100%;
	color: rgba(255, 255, 255, 0.7);
  }
  .ftco-footer .ftco-footer-widget .thumb a.thumb-menu {
	width: 100%;
	height: 100px;
	display: block;
  }

.ftco-footer p{
	color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a{
	color: rgba(255, 255, 255, 0.7);
}
.ftco-footer a:hover{
	color: #fff;
}
.ftco-footer .categories li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .ftco-footer .categories li a span {
	color: rgba(255, 255, 255, 0.5) !important;
  }
  
  .ftco-footer .subscribe-form .form-group {
	position: relative;
	margin-bottom: 0;
	border-radius: 0;
  }
  
  .ftco-footer .subscribe-form .form-group input {
	border-radius: 2px;
	width: 100%;
	background: rgba(255, 255, 255, 0.1) !important;
	border: none;
	color: rgba(255, 255, 255, 0.7) !important;
	font-size: 16px;
  }
  .ftco-footer .subscribe-form .form-group .submit {
	color: #ffffff !important;
	font-size: 16px;
	background: #c8a97e !important;
	border: none !important;
	border-radius: 2px;
  }
  
  .ftco-footer .subscribe-form .form-group .submit:hover {
	cursor: pointer;
  }
  .ftco-footer .subscribe-form .icon {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.8);
  }
.ftco-footer-social li{
	list-style: none;
	margin: 0 10px 0 0;
	display: inline-block;
}
.ftco-footer-social li a{
	height: 40px;
	width: 40px;
	display: block;
	float: left;
	background: rgba(255,255,255,0.05);
	border-radius: 50%;
	position: relative;
}
.ftco-footer-social li a:hover {
	background: #c8a97e;
  }
  
  .ftco-footer-social li a span {
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  .ftco-footer-social li .fa:hover {
	color: #000000;
  }

@media screen and (max-width: 767px) {
	
	.featured{
		padding-top: 10px;
		width: 100%;
		margin-top: 0px;
		border-top: 0;
		border-bottom: solid 1px rgba(0, 0, 0, 0.5);
		padding-bottom: 10px;
		
	}
	.featured .featured-menus .text h3{
		color: #333;
	}
	.featured .featured-menus .text p {
		color: #333;
	}
	.intro_image img {
		display: none;
	}
	.intro_content {
		position: relative;
		top: 0;
		transform: translateX(-50%);
		left: 50%;
	}
}
@media screen and (max-width: 1024px) {
	.owl-carousel.home-slider .slider-item .slider-text h1 {
		font-size: 40px;}

	.intro_content {
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		box-shadow: 0px 45px 40px rgb(0, 0, 0,30%);
		z-index: 1;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 7px;
		padding-right: 5px;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;}
		.ftco-section {
			padding: 2em 0;
		}
		.intro {
			padding-top: 20px;
		}
		.ftco-counter .block-18 {
			text-align: center;
			align-items: center;
		}
		.menu .text .one-half h3 {
			font-size: 18px;
		}
		.menu .text .one-forth-sm{
			display: block;
		}
		.menu .text .one-forth{
			display: none;
		}
}
/* .intro_content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -90px;
	width: 679px;
	background: #fff;
	border: solid 2px #b49388;
	box-shadow: 0px 45px 70px rgba(0, 0, 0, 0.3);
	z-index: 1;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-left: 70px;
	padding-right: 50px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
} */